@use "variables" as *;
@use "mixins" as *;

#main{
    margin-top: 250px;
    display: flex;
    flex-direction: column;

    .carrouselImagenes{
        @include centrarContenidoFlex();
        height: 140px;

        .carrouselFila{
            @include centrarContenidoFlex();
            width: 70%;
            background-color: $blanco;
            letter-spacing: 10px;
        }
        
    }

    .oferta1{
        background-image: url(https://resize.sprintercdn.com/b/1920x712/dist/images/landings/home-invierno-2022/remate-final/remate-module01-header01-desk-es.jpg);
        height: 650px;
        display: flex;
        justify-content: center;


        .enlaces{
            width: $longitudBotonesEnlaces;
            height: 55px;
            border: 3px solid $blanco;
            position: relative;
            margin-top: 500px;
            margin-left: 20px;
            transition: all 0.5s ease;
            @include centrarContenidoFlex();
            color: $blanco;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 1px;
            transition: all 0.5s ease;
        }

        .enlaces:hover{
            color: black;
            border: 3px solid black;
            color: black;
        }
    }

    .oferta2{
        background-image: url(https://resize.sprintercdn.com/b/1920x562/dist/images/landings/home-invierno-2022/san-valentin/sv-banner-desk.jpg);
        height: 560px;
        margin-top: 40px;

        .enlaceOferta2{
            margin-top: 100px;
            margin-left: 200px;
            width: 600px;

            .negrita{
                font-size: 80px;
                font-weight: bold;
                letter-spacing: 2px;
                height: 80px;
            }

            .negrita2{
                font-size: 80px;
                font-weight: bold;
                letter-spacing: 2px;
                margin-left: 30px;
            }

            .normal{
                font-size: 21px;
                margin-left: 70px;
                font-weight:lighter;
            }

            .filaEnlacesRosa{
                margin-top: -30px;
                margin-left: 90px;
            }
        
            .enlacesRosa{
                margin-top: -30px;
                float: left;
                margin-left: 20px;
                padding: 0px 30px;
                height: 40px;
                background-color: #ec5d75;
                border-color: #ec5d75;
                border: 1px solid #ec5d75;
                text-decoration: none;
                color: $blanco;
                font-weight: bold;
                letter-spacing: 1px;
                transition: all 0.5s ease;
                @include centrarContenidoFlex();
            }

            .enlacesRosa:hover{
                background-color: $blanco;
                color: #ec5d75;
            }
        }
    }

    .oferta3{
        background-image: url(https://resize.sprintercdn.com/b/1920x750/dist/images/landings/home-invierno-2022/propositos/propo23-module02-header01-desk-es2.jpg);
        height: 750px;
        margin-top: 40px;

        .todo{
            margin-left: 120px;
            margin-top: 200px;
        }

        .fila{
            margin-left: 20px;

            .zapatillas{
                font-size: 35px;
                font-weight: bold;
                letter-spacing: 1px;
                height: 80px;
            }
    
            .normal{
                font-size: 21px;
                margin-top: -20px;
                font-weight:lighter;
            }
            
            .boton{
                margin-top: 20px;
            }
    
            .botonNegro{
                border: 1px solid black;
                padding: 10px 20px;
                color: $blanco;
                background-color: black;
                text-decoration: none;
                transition: all 0.5s ease;
                font-weight: bold;
            }
    
            .botonNegro:hover{
                background-color: $blanco;
                color: black;
            }
        }

        .marcas{
            @include centrarContenidoFlex();
            float: left;
            margin-left: 20px;
            margin-top: 30px;
            border: 1px solid black;
            width: 115px;
            height: 115px;
            border-radius: 500px;
        }
    }
    
}

/* Carrousel lo pongo aqui porque lo quiero diferenciar del resto */



    @media (max-width: 767px) {
        .carousel-inner .carousel-item > div {
            display: none;
        }
        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
    }
    
    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }
    
    /* medium and up screens */
    @media (min-width: 768px) {
        
        .carousel-inner .carousel-item-end.active,
        .carousel-inner .carousel-item-next {
          transform: translateX(25%);
        }
        
        .carousel-inner .carousel-item-start.active, 
        .carousel-inner .carousel-item-prev {
          transform: translateX(-25%);
        }
    }
    
    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start { 
      transform: translateX(0);
    }
